/* .search-bar {
  display: flex;
  padding: 1rem 0;
  background-color: white;
  border-bottom: 0.05rem solid #dbdbdb;
} */
/* .header-nav {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
} */
/* .logo {
  display: flex;
  width: 20%;
} */
/* .logo-image {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  padding-right: 1rem;
} */
/* .logo-text {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  padding-left: 1rem;
  border-left: 0.05rem solid black;
} */
/* .search {
  width: 20%;
} */
/* .search input {
  width: 100%;
  padding: 0.3rem;
  font-size: 0.875rem;
  text-align: center;
  border-radius: 0.3rem;
  border: 0.05rem solid #dbdbdb;
  background-color: #fafafa;
} */
/* .icon-holder {
  width: 15%;
  padding: 0 0.5rem;
} */
/* .icons {
  display: flex;
  justify-content: space-between;
} */
/* .icon {
  display: flex;
  align-items: center;
  cursor: pointer;
} */
