img {
  width: 100%;
}
.login {
  width: 24%;
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0 auto;
  padding: 1rem 2.2rem 3rem 2.2rem;
  background-color: white;
  border: 0.05rem solid #dbdbdb;
}
.login-image {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}
.form-login {
  margin: 0.5rem 0rem;
  justify-content: flex-end;
}
.form-login button {
  width: 100%;
  padding: 0.5rem 0;
  border: 0rem;
  border-radius: 0.2rem;
  font-weight: 600;
  color: white;
  background-color: #76abdf;
  cursor: pointer;
}
.field {
  width: 100%;
  margin-bottom: 0.5rem;
}
.field input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-align: left;
  border-radius: 0.12rem;
  border: 0.05rem solid #dbdbdb;
  background-color: #fafafa;
}
.field input:focus {
  outline: none;
  border: 0.05rem solid gray;
}
.form-login p {
  width: fit-content;
  text-align: right;
  margin: 1rem 0 1.5rem auto;
  color: #0d0d70;
  cursor: pointer;
}
.separator {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}
.empty {
  width: 40%;
  height: 0.6rem;
  border-bottom: 0.05rem solid #dbdbdb;
}
.or {
  vertical-align: text-top;
  font-weight: 600;
}
.facebook {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #30306d;
}
.fb-logo {
  display: flex;
  margin-right: 0.5rem;
}
@media (max-width: 900px) {
  .login {
    width: 30%;
  }
}
@media (max-width: 750px) {
  .login {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .login {
    width: 50%;
  }
}
