img {
    width: 100%;
}
input:focus {
    outline: none;
}
::placeholder {
    color: #aaaaaa;
}
header {
    display: flex;
    padding: 1rem 0;
    background-color: white;
    border-bottom: .05rem solid #dbdbdb;
}
.header-nav {
    display:flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    width: 20%;
}
.logo-image {
    display: flex;
    align-items: center;
    padding: .2rem;
    padding-right: 1rem;
    border-right: .05rem solid black;
}
.logo-text {
    display: flex;
    align-items: center;
    padding: .2rem;
    padding-left: 1rem;
}

.search {
    width: 20%;
}
.search input {
    width:100%;
    padding: .3rem;
    font-size: .9rem;
    text-align: center;
    border-radius: .3rem;
    border: .05rem solid #dbdbdb;
    background-color: #fafafa;
}
.icon-holder {
    width: 15%;
    padding: 0 .5rem;
}
.icons {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
.icon {
    display: flex;
    align-items: center;
}
