img {
  width: 100%;
  object-fit: center;
}
.post-container {
  width: 50%;
  margin: 1.5rem auto;
}
.post {
  margin-bottom: 1.5rem;
  border-radius: 0.3rem;
  border: 0.05rem solid #dbdbdb;
  background-color: white;
}
.post-head {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.left,
.right {
  display: flex;
  align-items: center;
}
.left strong {
  padding-left: 1rem;
}
.profile-thumbnail {
  border-radius: 50%;
  /* padding-right: 1rem; */
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
}
.profile-thumbnail img {
  min-width: 100%;
  min-height: 100%;
  /* width: auto;
  height: auto; */
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.post-image {
  width: 100%;
}
.post-body {
  /* background-color: green; */
  padding: 0.5rem 0.8rem;
}
.post-interaction {
  width: 20%;
  /* background-color: red; */
  text-align: left;
}
.post-interaction .icons {
  width: 80%;
}
.post-time {
  text-align: left;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #aaaaaa;
}
.post-footer {
  padding: 1rem 0.8rem;
  border-top: 0.05rem solid #dbdbdb;
}
